body {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    /*scroll-behavior: smooth;*/
}

header {

    background-color: #404449;
}

.conoce-a-los{

    font-family: Helvetica,sans-serif;
    font-size: 0.85em;
    color: #555252;

}
.oradores{
    font-family: Helvetica,sans-serif;
    font-size: 1.50em;
    color: #2f2d2d;
}

.cards{
    border-radius: 0.5em;

}

.img-card{
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}


.navbar-brand img {
    margin-left: 2rem;
    margin-right: 2rem; /* espacio entre el logo y el texto */
    height: 50px;
}

.conf-bs-as {
    color: white;
    font-size: 16px;
}


.nav-link {
    color: white !important;
    font-size: 13px;
}

.nav-link:hover {
    color: #64f379 !important; /* color verde claro en formato hexadecimal */
}

.oscurecer-imagen{
    filter: brightness(0.5);
    /*filter: opacity(0.5);*/
   /*linear-gradient(rgba(0, 0, 0, 0.5));*/
}

.btn{
    background-color: #05a4a9 !important;
    border: #58b4a4 !important;
    margin-bottom: 3em;
}

.btn-primary:active{
    background-color: #59a4ab !important;
    border: #64f379 !important;
}

/*.btn-primary:focus{
    background-color: rgb(94, 79, 126)!important;
    border-color:rgb(94, 79, 126)!important;
}*/


.recordatorio-text-area{
    font-weight: 300;
    font: 0.95em sans-serif;
    color: #8a8686;
    font-stretch: semi-expanded;
}

.bs-octubre-rectangulo{
    background-color: #28323b;
    z-index: 80;
}

.bs-octubre-text{
    font-size: smaller;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
    align-items: center;
    color: #fff;
}


u {

    color: #3e413e;
    text-decoration-style: dotted;
    text-underline-offset:0.3em;
}


.hamburguesa {
    background-color: #28323b;
    margin-top: 1.0em;
    margin-bottom: 1.5em;
    margin-right: 1.5em;
}

footer{
    min-height: 5em;
    /*background-color: #404449;*/
    background-image: linear-gradient(rgb(33, 72, 89),rgb(11, 69, 88));
}

/*
.navbar-nav {
    display: flex;
    align-items: center;
}
  
.nav-item {
    margin-right: 1rem; /* espacio mínimo entre elementos 
}
  

  
.nav-link:hover {
    color: #64f379; /* color verde claro en formato hexadecimal
}
*/

 

  